.message-2qnXI6 {
  .avatar-1BDn8e {
    overflow: visible;
  }
}

[vz-webhook],
[vz-local] {
  .avatar-1BDn8e {
    foreignObject {
      mask: url(#svg-mask-avatar-default);
    }
    rect {
      display: none;
    }
  }
}

.userPopoutAvatar-1j4sf5 {
  position: absolute;
  bottom: -410px;
  left: -110px;
}
